@import url('https://fonts.googleapis.com/css2?family=Playfair:ital@1&display=swap');

/* || RESET */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    padding: 1rem;
}

input,
button,
textarea {
    font: inherit;
}

/* || VARIABLES */

:root {
    /* FONTS */
    --FF: "'Playfair', serif;";
    --FF-HEADINGS: 'Roboto Condensed', sans-serif;
    --FS: clamp(1rem, 2.2vh, 1.5rem);

    /* COLORS */
    --BGCOLOR-FADE: rgba(245, 173, 148, 0.918);
    --BGCOLOR: rgba(243, 168, 188, 0.952);
    --BGIMAGE: linear-gradient(to top, var(--BGCOLOR), var(--BGCOLOR-FADE));
    --BODY-BGCOLOR: rgb(255, 203, 173);
    --BORDER-COLOR: #ffffff;
    --BUTTON-COLOR: #525050;
    --FONT-COLOR: #000;
    --HEADER-BGCOLOR: #19a582;
    --HEADER-COLOR: #FFF;
    --HERO-BGCOLOR: rgba(51, 178, 51, 0.75);
    --HERO-COLOR: #FFF;
    --HIGHLIGHT-COLOR: rgb(51, 178, 51);
    --LINK-ACTIVE: yellow;
    --LINK-COLOR: #000;
    --LINK-HOVER: hsla(0, 3%, 25%, 0.6);
    --NAV-BGCOLOR: #df9f40b2;

    /* BORDERS */
    --BORDERS: 1px solid var(--BORDER-COLOR);
    --BORDER-RADIUS: 15px;

    /* STANDARD PADDING */
    --PADDING-TB: 0.25em;
    --PADDING-SIDE: 2.5%;

    /* STANDARD MARGIN */
    --MARGIN: clamp(1em, 2.5vh, 1.5em) 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --BGCOLOR-FADE: #51716B;
        --BGCOLOR: #335C5B;
        --BODY-BGCOLOR: #9EACBE;
        --BORDER-COLOR: whitesmoke;
        --BUTTON-COLOR: #525050;
        --FONT-COLOR: rgb(12, 7, 7);
        --HEADER-COLOR: #182A3C;
        --HERO-COLOR: #333;
        --HIGHLIGHT-COLOR: #333;
        --LINK-ACTIVE: rgb(252, 200, 103);
        --LINK-COLOR: royalblue;
        --LINK-HOVER: orange;
        --NAV-BGCOLOR: #c7a1da;
    }
}

/* || UTILITY CLASSES */
.offscreen {
    position: absolute;
    left: -10000px;
}

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

/* || GENERAL STYLES */

html {
    scroll-behavior: smooth;
    font-size: var(--FS);
    font-family: var(--FF);
    background-color: var(--BGCOLOR);
    background-image: var(--BGIMAGE);
}

body {
    background-color: var(--BODY-BGCOLOR);
    color: var(--FONT-COLOR);
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    border-left: var(--BORDERS);
    border-right: var(--BORDERS);
    box-shadow: 0 0 10px var(--BORDER-COLOR);
}

h1,
h2,{
    font-family: var(--FF-HEADINGS);
    letter-spacing: 0.1em;
}

h2 {
    margin-bottom: 1em;
    color: var(--HIGHLIGHT-COLOR);
    font-weight: bolder;
}

p {
    line-height: 1.5;
}

a:any-link {
    color: var(--LINK-COLOR);
}

a:hover,
a:focus-visible {
    color: var(--LINK-HOVER);
}

a:active {
    color: var(--LINK-ACTIVE);
}

/* || HEADER */

.header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.header__h1 {
    text-align: center;
    background-color: var(--HEADER-BGCOLOR);
    color: var(--HEADER-COLOR);
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

.header__nav {
    background-color: var(--NAV-BGCOLOR);
    border-bottom: var(--BORDERS);
    font-weight: bold;
    box-shadow: 0 6px 5px -5px var(--BORDER-COLOR);
}

.header__ul {
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

/* || HERO */

.hero {
    position: relative;
}

.hero__h2 {
    background-color: var(--HERO-BGCOLOR);
    color: var(--HERO-COLOR);
    padding: 0.25em 0.5em;
    text-shadow: 2px 2px 5px var(--BORDER-COLOR);
    position: absolute;
    top: -100px;
    left: 20px;
    animation: mymove 0.5s ease-in-out 1s forwards;
}

@keyframes mymove {
    0% {
        top: -20px;
        transform: skew(0deg, -5deg) scaleY(1);
    }

    80% {
        top: 30px;
        transform: skew(10deg, -5deg) scaleY(1.5);
    }

    100% {
        top: 20px;
        transform: skew(-10deg, -5deg) scaleY(1.2);
    }
}

/* || FOOTER */

.footer {
    position: sticky;
    bottom: 0;
    background-color: var(--HEADER-BGCOLOR);
    color: var(--HEADER-COLOR);
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
    text-align: center;
}

/* || MAIN */

.main {
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

.main__article {
    scroll-margin-top: 6.5rem;
    margin: var(--MARGIN);
}

.main__article:first-child {
    margin-top: 1em;
}

.main__article:last-child {
    min-height: calc(100vh - 20rem);
}

/* || CONTACT */

.contact__h2 {
    margin: 0;
}

.contact__fieldset {
    border: none;
}

.contact__p {
    margin: 1em 0;
}

.contact__label {
    display: block;
    font-weight: bold;
}

.contact__input,
.contact__textarea {
    padding: 0.5em;
    border-radius: var(--BORDER-RADIUS);
    border-width: 2px;
    width: 100%;
}

.contact__button {
    padding: 0.5em;
    border-radius: var(--BORDER-RADIUS);
    background-color: var(--HIGHLIGHT-COLOR);
    color: var(--BUTTON-COLOR);
    font-weight: bold;
}

/* PORTFOLIO */
.portfolio__h2 {
    margin: 1em;
}